.frame-child8,
.icrtdaci9 {
  margin: 0 !important;
  position: absolute;
  bottom: 0;
}
.frame-child8 {
  height: 100%;
  width: 56px;
  top: 0;
  left: -35.6px;
  border-radius: var(--br-121xl);
  max-height: 100%;
}
.icrtdaci9 {
  height: 48px;
  width: 216px;
  right: -35.6px;
  top: 1px;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
}
.frame-parent17 {
  height: 56px;
  width: 212px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-xs-2);
}
.committee-members10,
.home10 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.home10 {
  display: inline-block;
  min-width: 46px;
}
.committee-members10 {
  white-space: nowrap;
}
.call-for-papers11 {
  display: inline-block;
  min-width: 112px;
  white-space: nowrap;
}
.call-for-papers11,
.contact-us10,
.paper-submission10,
.publications6 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.paper-submission10 {
  color: var(--color-black);
  white-space: nowrap;
}
.contact-us10,
.publications6 {
  display: inline-block;
  min-width: 94px;
}
.contact-us10 {
  min-width: 84px;
  white-space: nowrap;
}
.navbar-menu,
.navigation-links2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-links2 {
  flex-direction: row;
  gap: var(--gap-5xl);
}
.navbar-menu {
  flex-direction: column;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.image-2-icon4 {
  align-self: stretch;
  width: 175.7px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 56px;
}
.frame-parent16,
.nav-bar4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent16 {
  justify-content: flex-start;
  gap: var(--gap-13xl-6);
}
.nav-bar4 {
  align-self: stretch;
  background-color: var(--color-white);
  justify-content: center;
  padding: var(--padding-21xl) var(--padding-xl) var(--padding-20xl)
    var(--padding-33xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-27xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-roboto);
}
.international-conference-on4 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.april-25-26-20254 {
  position: relative;
  line-height: 32px;
}
.calendarblank-icon4 {
  position: absolute;
  top: 289px;
  left: 109.5px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.calendarblank-parent,
.pattern-icon3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.pattern-icon3 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.calendarblank-parent {
  margin: 0 !important;
}
.april-25-26-2025-parent {
  height: 450px;
  width: 459.9px;
  margin: 0 !important;
  position: absolute;
  right: 146.1px;
  bottom: -185px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-110xl) var(--padding-91xl-4) var(--padding-110xl)
    var(--padding-91xl);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
}
.event-details,
.event-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.event-details {
  width: 753px;
  justify-content: flex-start;
  position: relative;
}
.event-title {
  width: 1241px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.contact1 {
  font-weight: 600;
}
.us1 {
  font-weight: 300;
}
.contact-us11 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  color: var(--primary);
  text-align: center;
  font-family: inherit;
}
.associate-professor,
.drramkumar-sivasakthivel,
.xxxxxxxx-rxxxxxxxxchristuni {
  width: 620px;
  position: relative;
  display: inline-block;
  max-width: 120%;
  flex-shrink: 0;
}
.drramkumar-sivasakthivel {
  font-size: var(--font-size-lg);
  line-height: 30px;
  font-weight: 500;
}
.associate-professor,
.xxxxxxxx-rxxxxxxxxchristuni {
  line-height: 24px;
}
.xxxxxxxx-rxxxxxxxxchristuni {
  color: var(--primary);
  text-decoration: none;
}
.person-details,
.separator-child {
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.person-details {
  width: 519px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.separator-child {
  width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  z-index: 1;
}
.separator {
  height: 78.1px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.drgobinath-ramar {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 30px;
  font-weight: 500;
}
.associate-professor1,
.xxxxxxxx-gxxxxxxchristunive {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.xxxxxxxx-gxxxxxxchristunive {
  color: var(--primary);
  text-decoration: none;
  z-index: 2;
}
.person-details1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 403px;
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 100%;
}
.contact-details5,
.contact-persons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.contact-persons {
  width: 1249px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  row-gap: 20px;
}
.contact-details5 {
  align-self: stretch;
  justify-content: flex-end;
  font-size: var(--font-size-base);
}
.bangalore-yeshwanthpur-campus,
.christ-deemed-to1 {
  margin: 0;
}
.wwwchristuniversityin2 {
  text-decoration: underline;
}
.wwwchristuniversityin1 {
  color: inherit;
}
.wwwchristuniversityin {
  margin: 0;
  color: var(--primary);
}
.christ-deemed-to-container {
  width: 1235px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 30px;
  display: inline-block;
  max-width: 100%;
}
.image-11-icon {
  width: 1241px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.contact-us-group {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: justify;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
}
.contact-us-group,
.content,
.event-info {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.event-info {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-117xl);
}
.content {
  width: 1351px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
.contact-details4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--primary);
  font-family: var(--font-inter);
}
.christ5 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
}
.deemed-to-be5 {
  height: 12px;
  position: relative;
  font-size: var(--font-size-base);
  text-align: left;
  display: inline-block;
}
.christ-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-child9 {
  height: 56px;
  width: 56px;
  position: relative;
  border-radius: var(--br-121xl);
}
.icrtdaci10 {
  margin: 0;
  height: 40px;
  width: 216px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  margin-bottom: 21px;
}
.frame-parent19,
.frame-parent20 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent20 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs-2);
  text-align: left;
  font-size: var(--font-size-37xl);
  font-family: var(--font-roboto);
}
.frame-parent19 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xl);
  font-size: var(--font-size-21xl);
}
.about7,
.home11 {
  display: inline-block;
}
.home11 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  min-width: 46px;
}
.about7 {
  min-width: 47px;
}
.about7,
.call-for-papers12,
.committee-members11 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.call-for-papers12 {
  display: inline-block;
  min-width: 112px;
}
.home-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-base);
}
.contact-us12 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 97px;
}
.mappin-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.dharmaram-college-post3,
.karnataka-india5 {
  margin: 0;
}
.dharmaram-college-post-container3 {
  height: 60px;
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.mappin-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.phone-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contact-details-footer {
  position: relative;
  line-height: 12px;
}
.phone-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.videoconference-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div19 {
  position: relative;
  line-height: 12px;
  display: inline-block;
  min-width: 78px;
}
.videoconference-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.envelope-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.mailchristuniversityin5 {
  position: relative;
  line-height: 12px;
  white-space: nowrap;
}
.envelope-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.contact-us-container,
.frame-parent21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent21 {
  align-self: stretch;
  gap: var(--gap-base);
  font-size: var(--font-size-base);
}
.contact-us-container {
  width: 294px;
  gap: var(--gap-5xl);
  text-align: left;
}
.social5 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 52px;
}
.bxl-facebook-icon5,
.instagram-logo-icon5 {
  height: 18px;
  width: 9.3px;
  position: relative;
}
.instagram-logo-icon5 {
  width: 18px;
  object-fit: cover;
}
.bxl-twitter-icon5 {
  height: 16px;
  width: 19.7px;
  position: relative;
}
.object-icon5,
.youtube-logo-icon5 {
  height: 15.8px;
  width: 22.3px;
  position: relative;
  object-fit: cover;
}
.object-icon5 {
  height: 20px;
  width: 20px;
  min-height: 20px;
}
.bxl-facebook-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent18,
.social-group {
  display: flex;
  align-items: flex-start;
}
.social-group {
  width: 193.3px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
}
.frame-parent18 {
  width: 1240.5px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.divider5 {
  align-self: stretch;
  height: 2px;
  position: relative;
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.privacy-policy11 {
  text-decoration: underline;
}
.privacy-policy10 {
  color: inherit;
}
.copyright-christ-container5 {
  position: relative;
}
.copyright-christ-deemed-to-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-4xl);
  flex-shrink: 0;
}
.copyright,
.footer-bottom {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.copyright {
  height: 48px;
  width: 1073px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.footer-bottom {
  width: 1240.8px;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
}
.contact-us9,
.footer-16-lift-blue3 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-16-lift-blue3 {
  align-self: stretch;
  background-color: var(--primary);
  align-items: center;
  padding: var(--padding-45xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-33xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.contact-us9 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  align-items: flex-start;
  gap: 200px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .navigation-links2 {
    display: none;
  }
  .nav-bar4 {
    padding-left: var(--padding-7xl);
    box-sizing: border-box;
  }
  .event-info {
    gap: var(--gap-49xl);
  }
}
@media screen and (max-width: 1050px) {
  .international-conference-on4 {
    font-size: var(--font-size-10xl);
    line-height: 40px;
  }
  .contact-us11 {
    font-size: var(--font-size-7xl);
    line-height: 32px;
  }
  .christ5 {
    font-size: var(--font-size-13xl);
    line-height: 19px;
  }
  .icrtdaci10 {
    font-size: var(--font-size-26xl);
  }
  .frame-parent18 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent16 {
    gap: var(--gap-base);
  }
  .person-details1 {
    min-width: 100%;
  }
  .event-info {
    gap: var(--gap-15xl);
  }
  .footer-16-lift-blue3 {
    gap: var(--gap-7xl);
  }
  .contact-us9 {
    gap: 851px;
  }
}
@media screen and (max-width: 450px) {
  .international-conference-on4 {
    font-size: var(--font-size-3xl);
    line-height: 30px;
  }
  .april-25-26-20254,
  .contact-us11 {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .contact-us11 {
    line-height: 24px;
  }
  .event-info {
    gap: var(--gap-mid);
  }
  .christ5 {
    font-size: var(--font-size-5xl);
    line-height: 14px;
  }
  .icrtdaci10 {
    font-size: var(--font-size-15xl);
  }
  .footer-16-lift-blue3 {
    padding-top: var(--padding-23xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .contact-us9 {
    gap: 426px;
  }
  .pngfind-1-icon {
    width: 250px;
    flex: 1;
    position: relative;
    max-height: 100%;
    object-fit: contain;
  }
}
