.icrtdaci11,
.logo-area-icon {
  margin: 0 !important;
  position: absolute;
  bottom: 0;
}
.logo-area-icon {
  height: 100%;
  width: 56px;
  top: 0;
  left: -35.6px;
  border-radius: var(--br-121xl);
  max-height: 100%;
}
.icrtdaci11 {
  height: 48px;
  width: 216px;
  right: -35.6px;
  top: 1px;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
}
.header-content1 {
  height: 56px;
  width: 212px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-xs-2);
}
.committee-members12,
.home12 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.home12 {
  display: inline-block;
  min-width: 46px;
}
.committee-members12 {
  white-space: nowrap;
}
.call-for-papers13 {
  display: inline-block;
  min-width: 112px;
  white-space: nowrap;
}
.call-for-papers13,
.contact-us13,
.paper-submission11,
.publications7 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.paper-submission11 {
  color: var(--color-black);
  white-space: nowrap;
}
.contact-us13,
.publications7 {
  display: inline-block;
  min-width: 94px;
}
.contact-us13 {
  min-width: 84px;
  white-space: nowrap;
}
.header-menu,
.menu-options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-options {
  flex-direction: row;
  gap: var(--gap-5xl);
}
.header-menu {
  flex-direction: column;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.image-2-icon5 {
  align-self: stretch;
  width: 175.7px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 56px;
}
.header-container,
.nav-bar5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.header-container {
  justify-content: flex-start;
  gap: var(--gap-13xl-6);
}
.nav-bar5 {
  align-self: stretch;
  background-color: var(--color-white);
  justify-content: center;
  padding: var(--padding-21xl) var(--padding-xl) var(--padding-20xl)
    var(--padding-33xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-27xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-roboto);
}
.international-conference-on5 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.april-25-26-20255 {
  position: relative;
  line-height: 32px;
}
.calendarblank-icon5 {
  position: absolute;
  top: 289px;
  left: 109.5px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.calendar-icon3,
.pattern-icon4 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.pattern-icon4 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.calendar-icon3 {
  margin: 0 !important;
}
.april-25-26-2025-group {
  height: 450px;
  width: 459.9px;
  margin: 0 !important;
  position: absolute;
  right: 146.1px;
  bottom: -185px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-110xl) var(--padding-91xl-4) var(--padding-110xl)
    var(--padding-91xl);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
}
.content-area1,
.main-content4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.main-content4 {
  width: 753px;
  justify-content: flex-start;
  position: relative;
}
.content-area1 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.publications8 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 40px;
  font-weight: 600;
  font-family: inherit;
  color: var(--primary);
  text-align: center;
}
.div20,
.pexels-divinetechygirl-1181345-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1241px;
  height: 430.5px;
  display: none;
}
.pexels-divinetechygirl-1181345-icon3 {
  top: -192px;
  height: 828.3px;
  object-fit: cover;
}
.publications-list {
  align-self: stretch;
  height: 300px;
  position: relative;
  border-radius: var(--br-5xl);
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(./public/publications-list@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.yet-to-be {
  margin: 0;
  font-size: 31px;
  font-weight: 500;
  font-family: inherit;
  text-align: left;
}
.note-the-authors1,
.the-authors-are2,
.yet-to-be {
  align-self: stretch;
  position: relative;
  line-height: 30px;
}
.call-for-papers14 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: justify;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.content-wrapper,
.main-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.content-wrapper {
  width: 1241px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-117xl);
}
.main-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 400px var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--primary);
  font-family: var(--font-inter);
}
.note-acceptance1 {
  width: 1235px;
  height: 30px;
  position: relative;
  line-height: 30px;
  display: none;
  max-width: 100%;
}
.all-submissions-need-to-be-sub1 {
  color: inherit;
}
.httpscmt3researchmicrosof3 {
  text-decoration: underline;
}
.httpscmt3researchmicrosof2 {
  color: var(--primary);
}
.all-submissions-need-container1 {
  width: 1235px;
  height: 30px;
  position: relative;
  line-height: 30px;
  display: none;
  max-width: 100%;
}
.christ6 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
}
.deemed-to-be6 {
  height: 12px;
  position: relative;
  font-size: var(--font-size-base);
  text-align: left;
  display: inline-block;
}
.university-info1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.conference-logo-icon2 {
  height: 56px;
  width: 56px;
  position: relative;
  border-radius: var(--br-121xl);
}
.icrtdaci12 {
  margin: 0;
  height: 40px;
  width: 216px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  margin-bottom: 21px;
}
.conference-info3,
.footer-columns1 {
  display: flex;
  justify-content: flex-start;
}
.conference-info3 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs-2);
  text-align: left;
  font-size: var(--font-size-37xl);
  font-family: var(--font-roboto);
}
.footer-columns1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xl);
  font-size: var(--font-size-21xl);
}
.about8,
.home13 {
  display: inline-block;
}
.home13 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  min-width: 46px;
}
.about8 {
  min-width: 47px;
}
.about8,
.call-for-papers15,
.committee-members13 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.call-for-papers15 {
  display: inline-block;
  min-width: 112px;
}
.footer-links1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-base);
}
.contact-us14 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 97px;
}
.mappin-icon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.dharmaram-college-post4,
.karnataka-india6 {
  margin: 0;
}
.dharmaram-college-post-container4 {
  height: 60px;
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.mappin-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.phone-icon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contact-data2 {
  position: relative;
  line-height: 12px;
}
.contact-icons12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.videoconference-icon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div21 {
  position: relative;
  line-height: 12px;
  display: inline-block;
  min-width: 78px;
}
.contact-icons13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.envelope-icon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.mailchristuniversityin6 {
  position: relative;
  line-height: 12px;
  white-space: nowrap;
}
.contact-icons14 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.contact-details6,
.contact-us-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-details6 {
  align-self: stretch;
  gap: var(--gap-base);
  font-size: var(--font-size-base);
}
.contact-us-parent1 {
  width: 294px;
  gap: var(--gap-5xl);
  text-align: left;
}
.social6 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 52px;
}
.bxl-facebook-icon6,
.instagram-logo-icon6 {
  height: 18px;
  width: 9.3px;
  position: relative;
}
.instagram-logo-icon6 {
  width: 18px;
  object-fit: cover;
}
.bxl-twitter-icon6 {
  height: 16px;
  width: 19.7px;
  position: relative;
}
.object-icon6,
.youtube-logo-icon6 {
  height: 15.8px;
  width: 22.3px;
  position: relative;
  object-fit: cover;
}
.object-icon6 {
  height: 20px;
  width: 20px;
  min-height: 20px;
}
.social-icons4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer-content4,
.social-media3 {
  display: flex;
  align-items: flex-start;
}
.social-media3 {
  width: 193.3px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
}
.footer-content4 {
  width: 1240.5px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.divider6 {
  align-self: stretch;
  height: 2px;
  position: relative;
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.privacy-policy13 {
  text-decoration: underline;
}
.privacy-policy12 {
  color: inherit;
}
.copyright-christ-container6 {
  position: relative;
}
.copyright-christ-deemed-to-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-4xl);
  flex-shrink: 0;
}
.copyright-area2 {
  height: 48px;
  width: 1073px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.copyright-bar,
.footer-16-lift-blue4 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.copyright-bar {
  width: 1240.8px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 var(--padding-12xs);
  text-align: left;
  font-size: var(--font-size-sm);
}
.footer-16-lift-blue4 {
  align-self: stretch;
  background-color: var(--primary);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-45xl) var(--padding-xl);
  gap: var(--gap-33xl);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.all-manuscripts-should1 {
  width: 1235px;
  height: 30px;
  position: relative;
  line-height: 30px;
  white-space: pre-wrap;
  display: none;
  max-width: 100%;
}
.publication {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .menu-options {
    display: none;
  }
  .nav-bar5 {
    padding-left: var(--padding-7xl);
    box-sizing: border-box;
  }
  .content-wrapper {
    gap: var(--gap-49xl);
  }
  .main-container {
    padding-bottom: 260px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .international-conference-on5 {
    font-size: var(--font-size-10xl);
    line-height: 40px;
  }
  .publications8 {
    font-size: var(--font-size-7xl);
    line-height: 32px;
  }
  .yet-to-be {
    font-size: 25px;
    line-height: 24px;
  }
  .christ6 {
    font-size: var(--font-size-13xl);
    line-height: 19px;
  }
  .icrtdaci12 {
    font-size: var(--font-size-26xl);
  }
  .footer-content4 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .header-container {
    gap: var(--gap-base);
  }
  .content-wrapper {
    gap: var(--gap-15xl);
  }
  .main-container {
    padding-bottom: 169px;
    box-sizing: border-box;
  }
  .footer-16-lift-blue4 {
    gap: var(--gap-7xl);
  }
}
@media screen and (max-width: 450px) {
  .international-conference-on5 {
    font-size: var(--font-size-3xl);
    line-height: 30px;
  }
  .april-25-26-20255,
  .publications8,
  .yet-to-be {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .publications8,
  .yet-to-be {
    line-height: 24px;
  }
  .yet-to-be {
    line-height: 18px;
  }
  .content-wrapper {
    gap: var(--gap-mid);
  }
  .christ6 {
    font-size: var(--font-size-5xl);
    line-height: 14px;
  }
  .icrtdaci12 {
    font-size: var(--font-size-15xl);
  }
  .footer-16-lift-blue4 {
    padding-top: var(--padding-23xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}
