.header-elements-icon,
.icrtdaci15 {
  margin: 0 !important;
  position: absolute;
  bottom: 0;
}
.header-elements-icon {
  height: 100%;
  width: 56px;
  top: 0;
  left: -35.6px;
  border-radius: var(--br-121xl);
  max-height: 100%;
}
.icrtdaci15 {
  height: 48px;
  width: 216px;
  right: -35.6px;
  top: 1px;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
}
.header-container1 {
  height: 56px;
  width: 212px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-xs-2);
}
.home16 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 46px;
}
.call-for-papers18,
.committee-members19,
.paper-submission14 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  white-space: nowrap;
}
.call-for-papers18 {
  display: inline-block;
  min-width: 112px;
}
.paper-submission14 {
  color: var(--color-black);
}
.contact-us17,
.publications11 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 94px;
}
.contact-us17 {
  min-width: 84px;
  white-space: nowrap;
}
.navigation-items2,
.navigation-links4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-items2 {
  flex-direction: row;
  gap: var(--gap-5xl);
}
.navigation-links4 {
  flex-direction: column;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.image-2-icon7 {
  align-self: stretch;
  width: 175.7px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 56px;
}
.main-content5,
.nav-bar7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.main-content5 {
  justify-content: flex-start;
  gap: var(--gap-13xl-6);
}
.nav-bar7 {
  align-self: stretch;
  background-color: var(--color-white);
  justify-content: center;
  padding: var(--padding-21xl) var(--padding-xl) var(--padding-20xl)
    var(--padding-33xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-27xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-roboto);
}
.international-conference-on6 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.april-25-26-20256 {
  position: relative;
  line-height: 32px;
}
.calendarblank-icon6,
.pattern-icon5 {
  position: absolute;
  top: 289px;
  left: 109.5px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.pattern-icon5 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
}
.date-icon,
.event-date {
  margin: 0 !important;
  position: absolute;
}
.date-icon {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.event-date {
  height: 450px;
  width: 459.9px;
  right: 146.1px;
  bottom: -185px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-110xl) var(--padding-91xl-4) var(--padding-110xl)
    var(--padding-91xl);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
}
.event-title-container,
.event-title-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.event-title-details {
  width: 753px;
  justify-content: flex-start;
  position: relative;
}
.event-title-container {
  width: 1199.2px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.registration {
  font-weight: 600;
}
.fee {
  font-weight: 300;
}
.registration-fee {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-family: inherit;
}
.registration-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) var(--padding-xs);
  font-size: var(--font-size-13xl);
  color: var(--primary);
}
.author-category {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.attendee-type {
  width: 149px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-30xl) 0 0;
  box-sizing: border-box;
}
.online-attendance {
  width: 166px;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.attendance-options {
  width: 412px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.author-from-india,
.author-from-outside {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.author-from-india {
  width: 156px;
}
.author-from-outside {
  flex: 1;
  min-width: 147px;
}
.origin-country {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-29xl);
}
.participation-modes {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  min-width: 281px;
  max-width: 100%;
}
.in-person-attendance {
  width: 191px;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.in-person-attendance-wrapper {
  width: 419px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.author-from-india1,
.author-from-outside1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.author-from-india1 {
  width: 156px;
}
.author-from-outside1 {
  flex: 1;
  min-width: 147px;
}
.author-from-india-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 51px;
}
.participation-modes1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  min-width: 281px;
  max-width: 100%;
}
.attendance-categories,
.fee-structure {
  width: 899px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-17xl);
  max-width: 100%;
}
.fee-structure {
  width: 1147px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.fees-table-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
}
.fees-table {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-10xl);
  max-width: 100%;
}
.regular-author {
  width: 114px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 114px;
}
.regular-author-cost {
  width: 155px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
}
.xxx-usd,
.xxxx-inr18-gst {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.xxxx-inr18-gst {
  width: 170px;
}
.xxx-usd {
  min-width: 78px;
}
.regular-author-cost1 {
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.xxx-usd1,
.xxxx-inr18-gst1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.xxxx-inr18-gst1 {
  width: 170px;
}
.xxx-usd1 {
  min-width: 78px;
}
.regular-author-pricing,
.regular-fees {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.regular-author-pricing {
  width: 1022px;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-xl);
}
.regular-fees {
  width: 1200px;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.fees-separator,
.scrsrvim-members {
  align-self: stretch;
  position: relative;
}
.fees-separator {
  height: 1px;
  border-top: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
}
.scrsrvim-members {
  line-height: 24px;
}
.member-category {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.xxxx-inr18-gst2 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.member-cost {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.xxx-usd2 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 78px;
}
.member-cost1 {
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.xxxx-inr18-gst3 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.member-cost2 {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.xxx-usd3 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 78px;
}
.member-cost3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.member-fees-breakdown,
.member-fees-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.member-fees-breakdown {
  flex: 1;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-xl);
}
.member-fees-details {
  width: 1175px;
  justify-content: flex-start;
  padding: 0 var(--padding-45xl) var(--padding-5xs);
}
.fees-divider,
.sbs-proceedings {
  align-self: stretch;
  position: relative;
}
.fees-divider {
  height: 1px;
  border-top: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
}
.sbs-proceedings {
  line-height: 24px;
}
.publication-type {
  width: 165px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-15xl) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.xxxx-inr18-gst4 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.proceedings-cost {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.xxx-usd4 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 78px;
}
.proceedings-cost1 {
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.xxxx-inr18-gst5 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.proceedings-cost2 {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.xxx-usd5 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 78px;
}
.proceedings-cost3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.proceedings-pricing,
.publication-costs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.proceedings-pricing {
  flex: 1;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-xl);
}
.publication-costs {
  width: 1190px;
  justify-content: flex-start;
  padding: 0 var(--padding-60xl);
}
.publication-fees {
  gap: var(--gap-8xl);
}
.fees-separator-parent,
.publication-fees,
.registration-options {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.fees-separator-parent {
  gap: var(--gap-13xl);
}
.registration-options {
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  gap: 37.5px;
}
.cost-divider,
.sbs-proceedings1 {
  align-self: stretch;
  position: relative;
}
.cost-divider {
  height: 1px;
  border-top: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
}
.sbs-proceedings1 {
  line-height: 24px;
}
.proceedings-category {
  width: 162px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xl) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.xxxx-inr18-gst6 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.cost-listing {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.xxx-usd6 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 78px;
}
.cost-listing1 {
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.xxxx-inr18-gst7 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.cost-listing2 {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.xxx-usd7 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 78px;
}
.cost-listing3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.proceedings-breakdown,
.proceedings-cost-structure {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.proceedings-cost-structure {
  flex: 1;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-xl);
}
.proceedings-breakdown {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-5xl);
}
.scrsrvim-members1 {
  width: 176px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-gray-400);
  display: inline-block;
  margin-top: -3px;
}
.proceedings-cost-details {
  flex: 1;
  flex-direction: column;
  max-width: 100%;
}
.cost-divider-parent,
.proceedings-cost-details,
.proceedings-fees {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.proceedings-fees {
  width: 1169px;
  flex-direction: row;
  padding: 0 var(--padding-39xl);
  box-sizing: border-box;
  max-width: 100%;
}
.cost-divider-parent {
  flex-direction: column;
  padding: 0 0 var(--padding-mid);
  gap: var(--gap-3xl);
}
.cost-divider-parent,
.member-fees-separator,
.member-fees-separator-child {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.member-fees-separator-child {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-steelblue-200);
}
.member-fees-separator {
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xs);
}
.listener {
  width: 62px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 62px;
}
.listener-category {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.non-authorco-author-general {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  color: var(--color-gray-400);
}
.participant-options {
  width: 265px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
  font-size: var(--font-size-base);
}
.xxxx-inr18-gst8 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.general-cost {
  width: 206px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-17xl) 0 0;
  box-sizing: border-box;
}
.xxx-usd8 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 78px;
}
.general-cost1 {
  width: 163px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
}
.xxxx-inr18-gst9 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.general-cost2 {
  width: 205px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-16xl) 0 0;
  box-sizing: border-box;
}
.xxx-usd9 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 78px;
}
.general-cost-structure,
.general-cost3,
.general-fees {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.general-cost3 {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
}
.general-cost-structure,
.general-fees {
  flex-direction: row;
  max-width: 100%;
}
.general-cost-structure {
  gap: var(--gap-26xl);
}
.general-fees {
  padding: 0 var(--padding-sm) var(--padding-10xs);
  box-sizing: border-box;
}
.member-fees-separator-item,
.member-fees-separator1 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.member-fees-separator-item {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-steelblue-200);
}
.member-fees-separator1 {
  height: 7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.listener-scrsrvim-members {
  width: 241px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.listener-fees {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
}
.xxx-usd10,
.xxxx-inr18-gst10 {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.xxxx-inr18-gst10 {
  width: 170px;
}
.xxx-usd10 {
  min-width: 78px;
}
.international-listener-fee {
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.xxx-usd11,
.xxxx-inr18-gst11 {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.xxxx-inr18-gst11 {
  width: 170px;
}
.xxx-usd11 {
  min-width: 78px;
}
.listener-fees-details,
.listener-pricing {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.listener-pricing {
  width: 787px;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
  debug_commit: 1de1738;
  gap: var(--gap-xl);
}
.listener-fees-details {
  align-self: stretch;
  justify-content: flex-end;
  margin-top: -7.5px;
  font-size: var(--font-size-lg);
}
.non-authorco-author-general1 {
  width: 265px;
  position: relative;
  line-height: 24px;
  color: var(--color-gray-400);
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
  margin-top: -7.5px;
}
.additional-options,
.listener-fees-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.listener-fees-parent {
  flex: 1;
  flex-direction: column;
}
.additional-options {
  width: 1125px;
  flex-direction: row;
  padding: 0 var(--padding-sm);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.final-separator {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
}
.frame-parent156 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.register-now1 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 107px;
}
.button-container,
.registration-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--primary);
  border-radius: var(--br-9xs);
  justify-content: flex-start;
  white-space: nowrap;
}
.button-container:hover {
  background-color: var(--color-steelblue-100);
}
.registration-button {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-26xl);
}
.event-details1,
.registration-header-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.registration-header-parent {
  align-self: stretch;
  align-items: flex-start;
  gap: 39px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.event-details1 {
  width: 1223.1px;
  align-items: flex-end;
  gap: 145px;
}
.event-information {
  width: 1415.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 131px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--primary);
  font-family: var(--font-inter);
}
.pngfind-1-icon1 {
  width: 250px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.acronym-container-icon {
  height: 56px;
  width: 56px;
  position: relative;
  border-radius: var(--br-121xl);
}
.icrtdaci16 {
  margin: 0;
  height: 40px;
  width: 216px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  margin-bottom: 21px;
}
.footer-logo,
.pngfind-1-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs-2);
}
.pngfind-1-parent {
  height: 162.2px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xl);
  font-size: var(--font-size-37xl);
  font-family: var(--font-roboto);
}
.about10,
.home17 {
  display: inline-block;
}
.home17 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  min-width: 46px;
}
.about10 {
  min-width: 47px;
}
.about10,
.committee-members20 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.call-for-papers19 {
  display: inline-block;
  min-width: 112px;
}
.call-for-papers19,
.how-to-reach1,
.paper-submission15,
.publications12 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.how-to-reach1,
.publications12 {
  display: inline-block;
  min-width: 94px;
}
.how-to-reach1 {
  min-width: 106px;
}
.footer-links2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--font-size-base);
}
.contact-us18 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 97px;
}
.mappin-icon8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.karnataka-india8,
.nagasandra-near-tumkar3 {
  margin: 0;
}
.nagasandra-near-tumkar-container3 {
  height: 60px;
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.mappin-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.phone-icon8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contact-address {
  position: relative;
  line-height: 12px;
}
.contact-icons15 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.videoconference-icon8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div24 {
  position: relative;
  line-height: 12px;
  display: inline-block;
  min-width: 78px;
}
.contact-icons16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.envelope-icon8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.mailchristuniversityin8 {
  position: relative;
  line-height: 12px;
  white-space: nowrap;
}
.contact-icons17 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.contact-details8,
.contact-info-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-details8 {
  align-self: stretch;
  gap: var(--gap-base);
  font-size: var(--font-size-base);
}
.contact-info-panel {
  width: 294px;
  gap: var(--gap-5xl);
}
.social8 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 52px;
}
.bxl-facebook-icon8,
.instagram-logo-icon8 {
  height: 18px;
  width: 9.3px;
  position: relative;
}
.instagram-logo-icon8 {
  width: 18px;
  object-fit: cover;
}
.bxl-twitter-icon8 {
  height: 16px;
  width: 19.7px;
  position: relative;
}
.object-icon8,
.youtube-logo-icon8 {
  height: 15.8px;
  width: 22.3px;
  position: relative;
  object-fit: cover;
}
.object-icon8 {
  height: 20px;
  width: 20px;
  min-height: 20px;
}
.social-media-icons1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.social-parent1 {
  width: 193.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.footer-structure2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.divider8 {
  height: 2px;
  width: 1074px;
  position: relative;
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  mix-blend-mode: normal;
  max-width: calc(100% - 0px);
}
.divider-wrapper {
  align-self: stretch;
  height: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
}
.footer-content6 {
  width: 1240.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.privacy-policy17 {
  text-decoration: underline;
}
.privacy-policy16 {
  color: inherit;
}
.copyright-christ-container8 {
  position: relative;
}
.copyright-christ-deemed-to-wrapper2 {
  width: 1240.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-sm);
}
.footer3,
.registrations {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer3 {
  align-self: stretch;
  background-color: var(--primary);
  align-items: center;
  padding: var(--padding-43xl) var(--padding-xl) var(--padding-32xl);
  box-sizing: border-box;
  gap: var(--gap-9xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.registrations {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  align-items: flex-start;
  gap: var(--gap-6xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .navigation-items2 {
    display: none;
  }
  .nav-bar7 {
    padding-left: var(--padding-7xl);
    box-sizing: border-box;
  }
  .fee-structure {
    flex-wrap: wrap;
  }
  .member-fees-details {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .proceedings-fees,
  .publication-costs {
    padding-left: var(--padding-20xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
  .proceedings-fees {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
  }
  .general-cost-structure {
    flex-wrap: wrap;
  }
  .event-details1 {
    gap: 72px;
  }
  .event-information {
    padding-bottom: 85px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .international-conference-on6 {
    font-size: var(--font-size-10xl);
    line-height: 40px;
  }
  .registration-fee {
    font-size: var(--font-size-7xl);
    line-height: 32px;
  }
  .member-fees-breakdown,
  .proceedings-cost-structure,
  .proceedings-pricing,
  .regular-author-pricing {
    flex-wrap: wrap;
  }
  .icrtdaci16 {
    font-size: var(--font-size-26xl);
  }
  .footer-structure2 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .main-content5 {
    gap: var(--gap-base);
  }
  .attendance-categories {
    flex-wrap: wrap;
  }
  .fees-separator-parent {
    gap: var(--gap-base);
  }
  .registration-options {
    gap: var(--gap-lgi);
  }
  .general-cost-structure {
    gap: var(--gap-3xl);
  }
  .listener-pricing {
    flex-wrap: wrap;
    justify-content: center;
  }
  .registration-header-parent {
    gap: var(--gap-lgi);
  }
  .event-details1 {
    gap: var(--gap-17xl);
  }
  .event-information,
  .footer3 {
    padding-bottom: var(--padding-36xl);
    box-sizing: border-box;
  }
  .footer3 {
    padding-top: var(--padding-21xl);
    padding-bottom: var(--padding-14xl);
  }
}
@media screen and (max-width: 450px) {
  .international-conference-on6 {
    font-size: var(--font-size-3xl);
    line-height: 30px;
  }
  .april-25-26-20256,
  .registration-fee {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .registration-fee {
    line-height: 24px;
  }
  .origin-country {
    flex-wrap: wrap;
    gap: var(--gap-5xl);
  }
  .author-from-india-parent {
    flex-wrap: wrap;
    gap: var(--gap-6xl);
  }
  .attendance-categories,
  .event-details1 {
    gap: var(--gap-lg);
  }
  .icrtdaci16 {
    font-size: var(--font-size-15xl);
  }
}
